:root {
    --blue-theme: #1f5da6;
    --text-color: #3e3e3e;
    --separator: #fbfbfb;
    --orange-theme: #d0671e;
}

/* Général */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

.hidden {
    display: none !important;
}

hr {
    margin: 30px 0;
    border: solid 1px var(--separator);
    width: 100%;
}

.partie-title {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.title {
    font-size: 34px;
    color: var(--blue-theme);
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1px;
}

.subtitle {
    font-size: 18px;
    color: var(--text-color);
    letter-spacing: 2px;
    line-height: 40px;
    padding: 1px;
}

.list-produits-type-inox,
.list-produits-type-sol,
.list-produits-type-paroi,
.list-produits-type-mc,
.list-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    padding: 0 1px;
    margin: 0 5%;
}

.container {
    padding-top: 120px;
    padding-bottom: 60px;
    margin: 0 5%;
}

.btn {
    background: var(--blue-theme);
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: white;
    transition: all .3s ease;
}

.btn:hover {
    background: var(--orange-theme);
    cursor: pointer;
    transform: scale(1.05);
}


/* Caroussel */

.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flickity-enabled.is-draggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: var(--blue-theme);
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
    background: var(--orange-theme);
}

.flickity-prev-next-button:active {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.flickity-prev-next-button.previous {
    left: 10px;
}

.flickity-prev-next-button.next {
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
}

.flickity-prev-next-button:disabled {
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: auto;
}

.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

.flickity-prev-next-button .arrow {
    fill: white;
}

.flickity-prev-next-button.no-svg {
    color: white;
    font-size: 26px;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots {
    direction: rtl;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: var(--blue-theme);
    border-radius: 50%;
    filter: alpha(opacity=25);
    opacity: 0.25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    filter: alpha(opacity=100);
    opacity: 1;
}


/* Barre de navigation */

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 5%;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(50, 50, 50, 0.2);
    background: white;
    opacity: .9;
    z-index: 2;
}

nav .logo img {
    width: 200px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--blue-theme);
    padding: 8px 20px;
    border-radius: 7px;
    transition: all .3s ease;
}

ul li a:hover,
ul li a.active {
    color: var(--orange-theme);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    left: -15px;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--blue-theme);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#icon {
    background-color: white;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon i {
    color: var(--blue-theme);
    font-size: 30px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover i {
    color: var(--orange-theme);
}

#checkbox,
#icon {
    display: none;
}


/* Accueil */

#accueil .accueil-partie {
    display: block;
    margin: 60px 0;
}

#accueil .cover {
    background: url("../img/couverture.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
}

#accueil .cover .encadre {
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    top: 40%;
    padding: 30px 10px;
    background: rgba(20, 20, 20, .2);
}

#accueil .cover .encadre p {
    font-size: 50px;
    color: white;
}

#accueil .accueil-partie-title {
    width: 100%;
    margin: 0px 0px 20px 0;
    text-align: center;
}

#accueil .accueil-partie-subtitle {
    width: 100%;
    text-align: center;
}

#accueil .caroussel {
    height: 500px;
}

#accueil .caroussel .gallery {
    background: transparent;
    width: 100%;
}

#accueil .caroussel .gallery-cell {
    width: 40%;
    height: 450px;
    margin-right: 10px;
}

#accueil .caroussel .g2 {
    background: url("../img/realisations/cab_exterieur_2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#accueil .caroussel .g6 {
    background: url("../img/realisations/cab_interieur_6.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#accueil .caroussel .g9 {
    background: url("../img/realisations/cab_interieur_9.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#accueil .caroussel .g10 {
    background: url("../img/realisations/cab_interieur_10.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#accueil .caroussel .g13 {
    background: url("../img/realisations/cab_interieur_13.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#accueil .voir-plus {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

#accueil .list-produits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 50px 0 20px 0;
    width: 100%;
    height: auto;
    align-items: center;
}

#accueil .list-produits .produit {
    margin: 10px;
    transition: all .3s ease;
}

#accueil .list-produits .produit a {
    text-decoration: none;
}

#accueil .list-produits .produit:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#accueil .list-produits .img-ronde {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#accueil .list-produits .nom-produit {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    color: var(--blue-theme);
    letter-spacing: 2px;
    text-align: center;
}

#accueil .cadre-chiffres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 2px 20px 0px;
}

#accueil .cadre-chiffres .item-chiffre {
    display: flex;
    align-items: center;
    padding: 60px;
    width: 100%;
    justify-content: space-evenly;
    border: solid 1px whitesmoke;
}

#accueil .cadre-chiffres .item-chiffre i {
    justify-content: center;
    font-size: 40px;
    color: var(--orange-theme);
}

#accueil .cadre-chiffres .item-chiffre p .chiffre {
    font-size: 40px;
    color: var(--blue-theme);
    font-weight: 600;
}

#accueil .cadre-chiffres .item-chiffre p .chiffre-detail {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
}

#accueil .contact-content,
#contact .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#accueil .contact-content .infos,
#contact .contact-content .infos {
    padding: 10px;
}

#accueil .contact-content .infos .info-item,
#contact .contact-content .infos .info-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 40px 0;
}

#accueil .contact-content .infos .info-item i,
#contact .contact-content .infos .info-item i {
    font-size: 20px;
    margin-right: 20px;
    color: var(--orange-theme);
}

#accueil .contact-content .infos .info-item a,
#contact .contact-content .infos .info-item a {
    font-size: 18px;
    text-decoration: none;
    color: var(--blue-theme);
}

#accueil .contact-content .img-ronde {
    width: 300px;
    border-radius: 50%;
}

#accueil .contact-horaires {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

#accueil .contact-horaires span,
#contact .contact-horaires span {
    display: inline-block;
    background: var(--blue-theme);
    margin: 20px 0;
    width: 150px;
    height: 4px;
}

#accueil .contact-horaires p,
#contact .contact-horaires p {
    color: var(--blue-theme);
    margin: 10px 0;
    font-size: 18px;
}


/* À propos */

#about .presentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

#about .presentation .presentation-text {
    max-width: 50%;
    padding: 0 10px;
    text-align: justify;
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: 2px;
    line-height: 30px;
}

#about .presentation .presentation-text h2 {
    color: var(--orange-theme);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

#about .presentation .presentation-image {
    padding: 0 10px;
    display: contents;
}

#about .presentation .presentation-image img {
    height: 100%;
}

#about .list-services .carte-service {
    width: 320px;
    height: max-content;
    margin: 20px;
    box-shadow: 0 1px 6px 0px rgba(50, 50, 50, 0.2);
    transition: all .3s ease;
}

#about .list-services .carte-service img {
    width: 100%;
    height: 220px;
}

#about .list-services .carte-service .service-title {
    color: var(--blue-theme);
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

#about .list-services .carte-service .service-description {
    color: var(--text-color);
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

/* Produits */

#produit .choix-produits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

#produit .item-produit {
    width: 300px;
    height: 350px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 14px 0px rgba(50, 50, 50, 0.2);
}

#produit img {
    width: 100%;
    height: 65%;
    display: block;
}

#produit .choix-produits p {
    color: var(--blue-theme);
    font-size: 20px;
}

#produit .choix-produits a {
    text-decoration: none;
    margin: 20px 0;
}

.title-produit,
.filtre-produits {
    width: 100%;
    margin-bottom: 20px;
}

.filtre-produits {
    text-align: center;
}

.filtre-produits button {
    width: 150px;
    height: 60px;
    border: solid 1px whitesmoke;
    margin: 0 -2px;
    background: white;
    color: var(--blue-theme);
    font-size: 20px;
    transition: all .3s ease;
}

.filtre-produits button:hover {
    background: var(--blue-theme);
    color: white;
    transform: scale(1.01);
}

.filtre-produits button.active {
    background: var(--blue-theme);
    color: white;
}

.title-produit .title::before {
    content: "";
    position: absolute;
    margin-top: 50px;
    background: var(--blue-theme);
    width: 70px;
    height: 3px;
}

.title-produit p {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: 2px;
    line-height: 40px;
}

.list-produits-type-inox .carte-produit-inox,
.list-produits-type-sol .carte-produit-sol,
.list-produits-type-paroi .carte-produit-paroi {
    width: 220px;
    height: 180px;
    margin: 20px;
    box-shadow: 0 1px 6px 0px rgba(50, 50, 50, 0.2);
    transition: all .3s ease;
}

.list-produits-type-mc .carte-produit-mc {
    width: 250px;
    height: 200px;
    margin: 20px;
    box-shadow: 0 1px 6px 0px rgba(50, 50, 50, 0.2);
    transition: all .3s ease;
}

.list-produits-type-inox .carte-produit-inox:hover,
.list-produits-type-sol .carte-produit-sol:hover,
.list-produits-type-paroi .carte-produit-paroi:hover,
.list-produits-type-mc .carte-produit-mc:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.list-produits-type-inox .carte-produit-inox img,
.list-produits-type-sol .carte-produit-sol img,
.list-produits-type-paroi .carte-produit-paroi img {
    width: 100%;
    height: 140px;
}

.list-produits-type-mc .carte-produit-mc img {
    width: 100%;
    height: 100%;
}

.list-produits-type-inox .carte-produit-inox p,
.list-produits-type-sol .carte-produit-sol p,
.list-produits-type-paroi .carte-produit-paroi p {
    color: var(--blue-theme);
    width: 100%;
    font-size: 16px;
    text-align: center;
}


/* Réalisation */

#realisation .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 5vw);
    grid-gap: 2rem;
}

#realisation .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all .3s ease;
}

#realisation .gallery-img:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#realisation .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

#realisation .gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

#realisation .gallery-item-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
}

#realisation .gallery-item-4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

#realisation .gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 8;
}

#realisation .gallery-item-6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
}

#realisation .gallery-item-7 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 11;
}

#realisation .gallery-item-8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 11;
}


/* Contact */

#contact .contact-horaires {
    margin: 30px 0;
    text-align: center;
}


/* Footer */
footer {
    position: relative;
    bottom: 0;
    background: var(--blue-theme);
    padding: 20px;
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
}

footer img {
    margin-bottom: 10px;
    width: 30px;
    cursor: pointer;
}

footer .follow {
    font-size: 16px;
    margin: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s ease;
}

footer div {
    width: 100%;
    justify-content: center;
    padding: 1px;
    display: flex;
    flex-direction: row;
}

footer div a {
    margin: 0 10px;
}

footer div a:hover,
footer a:hover {
    color: var(--orange-theme);
    text-decoration: underline;
}

footer .copyright {
    margin-top: 20px;
}


/* Responsive */

@media screen and (max-width: 1366px) {

    #accueil .cover .encadre p {
        font-size: 35px;
    }

    #about .presentation {
        height: 350px;
    }

    #about .presentation .presentation-text {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 25px;
    }

    #about .presentation .presentation-text h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 990px) {

    .title {
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .subtitle {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 30px;
        letter-spacing: 1px;
    }

    nav {
        opacity: 1;
    }

    nav .logo img {
        width: 100px;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 50vh;
        background-color: white;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 40px;
        box-shadow: 0 4px 2px -2px rgba(50, 50, 50, 0.2);
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }

    #accueil .cover .encadre {
        top: 45%;
        width: 90%;
    }

    #accueil .cover .encadre p {
        font-size: 18px;
    }

    #accueil .caroussel {
        height: 350px;
    }

    #accueil .caroussel .gallery-cell {
        width: 100%;
        height: 300px;
    }

    #accueil .voir-plus {
        margin: 20px 0;
    }

    #accueil .list-produits .img-ronde {
        width: 150px;
        height: 150px;
    }

    #accueil .list-produits .nom-produit {
        font-size: 16px;
    }

    #accueil .cadre-chiffres {
        flex-direction: column;
    }

    #accueil .cadre-chiffres .item-chiffre {
        padding: 40px;
        justify-content: space-evenly;
        text-align: center;
    }

    #accueil .contact-content,
    #contact .contact-content {
        text-align: center;
    }

    #accueil .contact-content .infos .info-item i,
    #contact .contact-content .infos .info-item i {
        font-size: 16px;
    }

    #accueil .contact-content .infos .info-item a,
    #contact .contact-content .infos .info-item a {
        font-size: 12px;
    }

    #accueil .contact-content .img-ronde {
        display: none;
    }

    #accueil .contact-horaires span,
    #contact .contact-horaires span {
        width: 100px;
        margin: 0 0;
    }

    #accueil .contact-horaires p,
    #contact .contact-horaires p {
        color: var(--blue-theme);
        margin: 10px 0;
        font-size: 12px;
    }

    #about .presentation {
        flex-direction: column;
        height: 100%;
    }

    #about .presentation .presentation-text {
        max-width: 100%;
    }

    #about .presentation .presentation-image {
        width: 90%;
        padding: 20px 0;
        display: block;
    }

    #about .presentation .presentation-image img {
        width: 100%;
    }

    #realisation .gallery {
        display: flex;
        flex-direction: column;
    }

    #contact .contact-content {
        flex-direction: column;
    }

    footer {
        height: 300px;
        padding: 5px;
    }

    footer a {
        text-decoration: underline;
        font-size: 12px;
    }

    footer div span {
        display: none;
    }

    footer div {
        flex-direction: column;
    }

    footer div a {
        margin: 5px 0;
    }

    footer .follow {
        font-size: 12px;
    }

    footer .copyright {
        font-size: 12px;
        margin-top: 30px;
    }

}